@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: "Fira Sans", serif; */

* {
    margin: 0;
    padding: 0;
}

#section-1 {
    border-radius: 24px;
    background: rgb(198, 228, 214);
    margin: 0 auto;
    width: 1280px;
    height: 560px;


}

#section-1 .section-1-content {
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    gap: 64;
    margin: 80px 0;
    padding: 80px 100px;
}

.section-1-content .section-1-ctext {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    gap: 24px;
    padding: 0;
    margin-top: 37px;
    margin-bottom: 24px;
}

.section-1-content .section-1-cimg {
    width: 100%;
}

.section-1-content .section-1-ctext p {
    color: rgba(14, 14, 14, 0.5);
    font-family: "Fira Sans";
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}

.section-1-content .section-1-ctext h2 {
    color: rgb(14, 14, 14);
    font-family: "Fira Sans";
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0%;
    text-align: left;
}

.section-1-btn button {
    border-radius: 8px;
    background: rgb(0, 106, 80);
    width: 270px;
    height: 55px;
    color: white;
    font-family: "Fira Sans";
    font-size: 18px;
    font-weight: 600;
    border: none;
}

.section-1-btn button:hover {
    background: rgb(106, 0, 71);
    cursor: pointer;
}

#section-2 {
    width: 1280px;
    height: 765px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    gap: 32px;
    margin: 0 auto;
}

#section-2 h3 {
    color: rgb(14, 14, 14);
    font-family: "Fira Sans";
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 80px;
    margin-bottom: 24px;
}

#section-2 p {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 32px;
}

.section-2-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 24px;
    margin-top: 0px;
    width: 1280px;
    height: 325px;
    padding: 0;
}

.section-2-card .section-2-card-1 {
    box-sizing: border-box;
    border-radius: 16px;
    background: rgba(84, 144, 245, 0.2);
    width: 410.67px;
    height: 325px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

}

.section-2-card h4 {
    color: rgba(14, 14, 14, 0.8);
    font-family: "Fira Sans";
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 25px;
}

.section-2-card-p {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 12px;
}

.section-2-card .section-2-card-1 img {
    width: 49.66px;
    height: 53.09px;
    top: 1px;
    left: 15px;
}

.section-2-cbtn-1 button {
    border-radius: 8px;
    background: rgb(84, 144, 245);
    width: 122px;
    height: 41px;
    color: white;
    display: inline-block;
    font-family: "Fira Sans";
    font-size: 16px;
    font-weight: 600;
    border: none;
}

.section-2-cbtn-1 button:hover {
    background: rgb(186, 84, 245);
    cursor: pointer;
}

.section-2-card .section-2-card-2 {
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(198, 228, 214);
    width: 410.67px;
    height: 325px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

}

.section-2-card .section-2-card-2 img {
    width: 49.66px;
    height: 53.09px;
    top: 1px;
    left: 15px;
}

.section-2-cbtn-2 button {
    border-radius: 8px;
    background: rgb(9, 161, 92);
    width: 122px;
    height: 41px;
    color: white;
    display: inline-block;
    font-family: "Fira Sans";
    font-size: 16px;
    font-weight: 600;
    border: none;
}

.section-2-cbtn-2 button:hover {
    background: rgb(161, 9, 9);
    cursor: pointer;
}

.section-2-card .section-2-card-3 {
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(247, 235, 207);
    width: 410.67px;
    height: 325px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.section-2-card .section-2-card-3 img {
    width: 49.66px;
    height: 53.09px;
    top: 1px;
    left: 15px;
}

.section-2-cbtn-3 button {
    border-radius: 8px;
    background: rgb(255, 194, 57);
    width: 122px;
    height: 41px;
    color: white;
    display: inline-block;
    font-family: "Fira Sans";
    font-size: 16px;
    font-weight: 600;
    border: none;
}

.section-2-cbtn-3 button:hover {
    background: #7e39ff;
    cursor: pointer;
}

#section-2 .section-2-text {
    width: 1280px;
    height: 256px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 48px 24px;
    flex-grow: 1;
    margin-bottom: 80px;
}

#section-2 .section-2-text .section-2-text-content {
    background-image: url("assets/quote-bg.png");
    background-repeat: no-repeat;
    background-position: top left;
}

#section-2 .section-2-text .section-2-text-content .section-2-text-content-1 {
    color: rgba(14, 14, 14, 0.8);
    font-family: "Fira Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 12px;
}

#section-2 .section-2-text .section-2-text-content .section-2-text-content-2 {
    color: rgba(14, 14, 14, 0.8);
    font-family: "Fira Sans";
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 4px;
}

#section-2 .section-2-text .section-2-text-content .section-2-text-content-3 {
    color: rgba(14, 14, 14, 0.6);
    font-family: "Fira Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

#section-3 {
    width: 1280px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 80px auto;
}

#section-3 .section-3-news-head {
    color: rgb(14, 14, 14);
    font-family: "Fira Sans";
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 80px;
    margin-bottom: 24px;
    gap: 24;
}

#section-3 .section-3-news-content {
    color: rgba(14, 14, 14, 0.7);
    font-family: "Fira Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    gap: 12;
}

#section-4 {
    width: 1280px;
    height: 402px;
    border-radius: 24px;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 24px auto;
    gap: 32px;
    padding: 48px;
}

#section-4 .section-news-card-image img {
    border-radius: 24px;
    width: 408px;
    height: 306px;
}

#section-4 .section-news-card-content .news-content-header {
    color: rgba(14, 14, 14, 0.8);
    font-family: "Fira Sans", serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 12px;
}

#section-4 .section-news-card-content .news-content-header-img img {
    width: 134px;
    height: 40px;
    margin-bottom: 12px;
}

#section-4 .section-news-card-content .time-and-date {
    color: rgba(14, 14, 14, 0.7);
    font-family: "Fira Sans", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 12px;
}

#section-4 .section-news-card-content .news-content-header-text {
    width: 744px;
    height: 72px;
    color: rgba(14, 14, 14, 0.7);
    font-family: "Fira Sans", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.news-content-btn button {
    display: inline-block;
    border: none;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    width: 139px;
    height: 48px;
    color: rgb(255, 255, 255);
    font-family: "Fira Sans";
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 32px;
}

.news-content-btn :hover {
    background: #03858f;
    cursor: pointer;
}

#section-5 {
    width: 1280px;
    height: 402px;
    border-radius: 24px;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 32px;
    align-items: center;
    align-content: center;
    margin: 24px auto;
    padding: 48px;
}

#section-5 .section-news-card-image img {
    border-radius: 24px;
    width: 100%;
    height: 306px;
}

#section-5 .section-news-card-content {
    width: 744px;
    height: 290px;
    background-color: white;
}

#section-5 .section-news-card-content .news-content-header {
    color: rgba(14, 14, 14, 0.8);
    font-family: "Fira Sans", serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 12px;
}

#section-5 .section-news-card-content .news-content-header-img img {
    width: 134px;
    height: 40px;
    margin-bottom: 12px;
}

#section-5 .section-news-card-content .time-and-date {
    color: rgba(14, 14, 14, 0.7);
    font-family: "Fira Sans", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 12px;
}

#section-5 .section-news-card-content .news-content-header-text {
    width: 744px;
    height: 72px;
    color: rgba(14, 14, 14, 0.7);
    font-family: "Fira Sans", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

#section-6 {
    width: 1280px;
    height: 464px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin: 80px auto;
    gap: 32px;
    padding: 0px;
}

#section-6 h1 {
    color: rgb(14, 14, 14);
    font-family: "Fira Sans", serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
}

#section-6 p {
    color: rgba(14, 14, 14, 0.7);
    font-family: "Fira Sans", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 32px;
}

.section-6-donate-btn {
    width: 1071px;
    height: 128px;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    gap: 24;
    padding: 0;
    margin: 0 auto;
}

.section-6-donate-btn-1 {
    width: 240px;
    height: 128px;
    padding: 40px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    gap: 24;
}

.section-6-donate-btn-2 {
    padding: 40px;
    width: 240px;
    height: 128px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(198, 228, 214);
    gap: 24;
}

.section-6-donate-btn-1 button {
    max-width: 160px;
    max-height: 48px;
    color: rgba(14, 14, 14, 0.8);
    font-family: "Fira Sans", serif;
    font-size: 40px;
    font-weight: 700px;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
}

.section-6-donate-btn-2 button {
    max-width: 160px;
    max-height: 48px;
    color: rgba(14, 14, 14, 0.8);
    font-family: "Fira Sans", serif;
    font-size: 30px;
    font-weight: 900px;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
}

.section-6-donate-btn :hover {
    background: #03858f;
    cursor: pointer;
}

#section-6 form input[type=text] {
    width: 1032px;
    height: 64px;
    box-sizing: border-box;
    border: 1px 1px solid rgba(14, 14, 14, 0.15);
    background: rgb(255, 255, 255);
    padding: 20px 40px 20px 40px;
    color: rgba(14, 14, 14, 0.3);
    font-family: "Fira Sans", serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    margin: 32px 124px 32px 124px;
}

.done-now button {
    display: inline-block;
    border: none;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    width: 151px;
    height: 56px;
    color: rgb(255, 255, 255);
    font-family: "Fira Sans";
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 32px;
}

.done-now :hover {
    background: #03858f;
    cursor: pointer;
}

#section-7 {
    border-radius: 24px;
    background: rgb(198, 228, 214);
    width: 1280px;
    height: 395px;
    margin: 80px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 64;
    padding: 80px 100px 80px 100px;
}

#section-7 .section-7-container .section-7-head {
    width: 622px;
    height: 48px;
    margin: 0px 64px 16px 64px;
    color: rgb(14, 14, 14);
    font-family: "Fira Sans", serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    display: flex;
    justify-content: center;
    text-align: center;
}

#section-7 .section-7-container .section-7-paragraph {
    width: 622px;
    height: 48px;
    margin: 16px 64px 24px 64px;
    color: rgba(14, 14, 14, 0.7);
    font-family: "Fira Sans", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
}

#section-7 .section-7-container .section-7-footer {
    width: 622px;
    height: 19px;
    margin: 25px 64px 0px 64px;
    color: rgba(14, 14, 14, 0.7);
    font-family: "Fira Sans", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
}

.section-7-subscription {
    width: 100%;
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
}

.section-7-subscription input[type="email"] {
    width: 600px;
    height: 55px;
    border: none;
    border-radius: 8px 0px 0px 8px;
    background: rgb(255, 255, 255);
    padding: 18px 40px 18px 40px;
}

#section-7 .section-7-subscription-btn {
    display: inline-block;
    width: 150px;
    height: 90px;
    border: none;
    border-radius: 0px 8px 8px 0px;
    background: rgb(0, 106, 80);
    padding: 18px 40px 18px 40px;
    color: rgb(255, 255, 255);
    font-family: "Fira Sans", serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
}

#section-7 button:hover {
    background: #03858f;
    cursor: pointer;
}

#footer-bootom {
    background: rgb(255, 255, 255);
    width: 1600px;
    height: 226px;
    margin: 80 0;
    display: flex;
    flex-direction: column;
    justify-items: auto;
    justify-content: center;
    align-items: center;
    gap: 32;
    padding: 50px 160px 50px 160px;
}

 .footer-bootom-text {
    
    margin: 0px 529px 31.5px 529px;
    color: rgb(14, 14, 14);
    font-family: "Fira Sans", serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
}